@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    width: 100%;
    height: 100vh;
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
}

:root {
   --dark-green: rgb(19, 92, 19);
   --lighter-green: rgb(8, 148, 8);
   --darker-orange: rgb(223, 148, 11);
}

body {
    height: 100%;
    width: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px 10px;
    height: 80px;
    width: 100%;
    background: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
}

.logo img {
    /* width: 150px; */
    height: 80px;
    margin: 5px 10px;
}

.search-bar {
    display: flex;
    align-items: center;
    /* width: 300px; */
    width: 360px;
    height: 55px;
    border: 1px solid green;
    padding: 5px;
    border-radius: 6px;
}

.search-bar input {
    padding: 10px;
    padding-left: 10px;
    left: 0px;
    font-size: 17px;
    border: none;
    outline: none;
    /* max-width: 100px; */
    width: 90%;
}

.search-bar i{
    padding: 10px;
    font-size: 18px;
    color: var(--dark-green);
    left: 10px;
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.nav-menu ul li {
    text-decoration: none;
    padding: 0px 15px;
}

.nav-menu a {
    text-decoration: none;
    color: rgb(19, 92, 19);
    font-size: 18px;
    font-weight: 500;
    padding: 10px 10px;
    /* background-color: orange; */
    border-radius: 6px;
    transition: .3s;
}

.nav-menu a:hover{
    color: var(--lighter-green);
}

.entrar-btn {
    padding: 15px 20px;
    color: white;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    background: orange;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.entrar-btn:hover{
    background: var(--darker-orange);
}

.nav_toggle {
    font-size: 2rem;
    color: var(--dark-green);
    cursor: pointer;
    display: inline-flex;
}

@media screen and (max-width: 767px){
    .nav-menu {
        position: fixed;
        background-color: white;
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        box-shadow: -2px 0 4px rgba(0, 0, 0, 0.13);
        padding: 4rem 0 0 3rem;
        z-index: 100;
        transition: .3s;
    }
}

.nav_close {
    font-size: 2.5rem;
    color: var(--dark-green);
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    z-index: 102;
    /* display: none; */
}

/* INICIO */
.main-container {
    display: flex;
    flex-direction: column;
}

.inicio {
    background-color: rgb(20, 128, 20);
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 80px;
    width: 100%;
    position: relative;
}

.text-inicio {
    max-width: 480px;
    margin: 15px;
    color: white;
}

.text-inicio h1 {
    font-size: 2rem;
    font-weight: 700;
}

.text-inicio p {
    font-weight: 500;
    font-size: 18px;
    word-wrap: break-word;
}

/* SORTEIOS */
.sorteios-sec {
    height: 800px;
    background-color: rgb(226, 224, 224);
}

/* SUBMITA-SEC */
.submita-sec {
    height: 700px;
    background-color: green;
    position: relative;
}

